<footer> If you don't want to sign up, log in using "test@gmail.com" and "test123"
    <br>
    Website coded with ❤ by Tue Tran using MongoDB/Express/EJS/Node.js. Email authentication handled by bcrypt/JWT.
</footer>

</body>

</html>