<%- include('partials/header'); -%>

  <header>
    <div class="smoothie">
      <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
      <h2>Super Smoothies </h2>
      <h3>Sign up to see all SUPER SECRET smoothie recipes</h3>
      <a href="/smoothies" class="btn">View Recipes</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>